ul,li{padding:0;margin:0;list-style:none;}
/*警用版样式表*/
.login_bg{position:absolute;width:100%;height:50%;background: url(../images/login_bg.png) no-repeat;background-size: cover;background-position: center bottom;}
.jh_div{height:35%;width:100%;text-align:center;margin-top:15%;}
.login_img_div{height:28%;width:100%;text-align:center;margin-top:12px;}
.login_jh{height:100%;}
.login_title{color:#fff;margin-top:20px;margin-bottom:20px;text-align:center;font-family: "微软雅黑";}
.login_form_div{width:90%;min-height:80%;background: #f9f9f9;box-shadow: 0 0 15px rgba(0,0,0,0.1);border-radius:2px;margin:0 auto;padding:20px 0px 20px 0px;}
.login_icon{position:absolute;width:24px;top:6px;left:22px;}
.mui-input-group .mui-input-row:after{right:15px;}
.mui-input-group .mui-input-row.login_remember:after{height:0px;}
.btnCss{display:inline-block;height:42px;width:90%;text-align: center;line-height: 42px;background: #2a80f5;color:#fff;border-radius: 40px;}
.mui-input-group.login_form_div:after{height:0px;}
.login_input{width:100%;margin:0;padding:0px 15px 0px 55px!important;box-sizing: border-box;}
.mui-input-row .mui-input-password~.mui-icon-eye{right:6px;}

.mapDiv{position:absolute;width:100%;height:100%;/**background: url(../img/map.png) no-repeat;*/background-size:cover;}
.map_top{background:transparent !important;box-shadow:none !important;}
.userBtn1{display: inline-block;width:38px;height:38px;text-align:center;line-height:38px;color:#fff;float:right;margin:5px 0px 0px 0px;background:#2B80F4;border-radius: 40px;box-shadow: 0 0 5px rgba(43,128,244,1);}
.userBtn1 img{width:25px;margin-top:5px;}
.map_search_div{width:100%;height:38px;position:absolute;top:5px;left:10px;padding-right:70px;}
.map_search_div .search_content_div{width:100%;height:100%;background:#fff;border-radius: 50px;line-height: 38px;padding-left:10px;}
.map_search_div .search_content_div span{font-size:14px;color:#ccc;font-family: "微软雅黑";}
.map_search_div .search_content_div .myicon{color:#707070;}
.myicon{margin:0 !important;padding:0 !important;}
.myheader{background: #05083f !important;}
.mytitle{color:#fff!important;}
.my_return_btn{color:#fff !important;}
.userBtn2{display: inline-block;width:32px;height:32px;text-align:center;line-height:38px;border:1px solid #fff;float:right;margin:7px 0px 0px 0px;border-radius: 40px;}
.userBtn2 img{width:20px;margin-top:5px;}
.map_search_div2{width:100%;height:35px;position:absolute;top:5px;left:0px;padding-left:10px;padding-right:55px;}
.map_search_div2 .search_content_div{width:100%;height:100%;background:rgba(255,255,255,0.4);border-radius: 50px;line-height: 38px;padding:0px 0px 0px 10px;position: relative;}
.map_search_div2 .search_content_div .search_bg{display:inline-block;height:100%;width:40px;background:rgba(5,8,63,0.3);float:right;}
.map_search_div2 .search_content_div .myicon{color:#FFF;margin:3px 0px 0px 5px !important;}
.map_search_div2 .search_content_div .search_input{color:#fff;position:absolute;top:0;left:0;width:100% !important;box-sizing:border-box;padding:0 50px 0px 10px !important;margin:0 !important;height:100% !important;background: transparent;border:none;}

.map_bottom{position:absolute;overflow:hidden;width:100%;height:180px;padding-top:0px !important;}
.bgcolor{background: #fff;}
.hand_bar_div{height:30px;padding-top:0px;text-align: center;}
.hand_bar_div .hand_bar{display:inline-block;width:100px;height:7px;background: #ededed;border-radius: 10px;}
.main_list{}
.main_list .main_list_item{overflow: hidden;border-bottom: 1px solid #e7e7e7;margin:0px 10px;padding-bottom:15px}
.main_list .itemtitle{overflow: hidden;font-weight: normal;margin:10px 0px 5px 0px !important;}
.main_list .itemtitle i{display:inline-block;width:28px;height:28px;background-size: cover;background-repeat: no-repeat;float:left;position: relative;top:5px;}
.main_list .itemtitle span{line-height:40px;font-size:16px;float:left;padding-left:10px;}
.main_list .itemtitle.color1{color:#ef660b;}
.main_list .itemtitle.color2{color:#0BA7EF;}
.main_list .itemtitle.color3{color:#4233D1;}
.main_list .itemtitle.color4{color:#D14933;}
.main_list .itemtitle.color5{color:#E79609;}
.main_list .itemtitle.color6{color:#33AAD1;}
.main_list .itemtitle.color7{color:#31B274;}
.main_list .itemtitle.color8{color:#C71249;}
.main_list .itemtitle.color9{color:#D14933;}
.title_icon1{background: url(../images/industry_1.png);}
.title_icon2{background: url(../images/industry_2.png);}
.title_icon3{background: url(../images/industry_3.png);}
.title_icon4{background: url(../images/industry_4.png);}
.title_icon5{background: url(../images/industry_5.png);}
.title_icon6{background: url(../images/industry_6.png);}
.title_icon7{background: url(../images/industry_7.png);}
.title_icon8{background: url(../images/industry_8.png);}
.title_icon9{background: url(../images/industry_9.png);}
.sublist{overflow: hidden;}
.sublist_item{float:left;font-size:14px;border-radius: 20px;background:#f3f3f3;color:#5f5f5f;padding:5px 15px;margin:5px;}
.sublist_item:active{background:#E3E3E3;color:#5f5f5f;}

.myviewlist .mui-table-view-cell{padding:5px 15px !important;font-size:14px !important;}
.myviewlist .mui-table-view-cell input{font-size:14px !important;}

.rsListUl{margin-bottom: 10px;padding:10px;}